
.lrList ul li{
  display: inline-block;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('/static/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('/static/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/static/fonts/poppins/Poppins-Bold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: black;
	margin: 20px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: white;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: rgba(255,255,255,0.8);}
input:-moz-placeholder { color: rgba(255,255,255,0.8);}
input::-moz-placeholder { color: rgba(255,255,255,0.8);}
input:-ms-input-placeholder { color: rgba(255,255,255,0.8);}

textarea::-webkit-input-placeholder { color: rgba(255,255,255,0.8);}
textarea:-moz-placeholder { color: rgba(255,255,255,0.8);}
textarea::-moz-placeholder { color: rgba(255,255,255,0.8);}
textarea:-ms-input-placeholder { color: rgba(255,255,255,0.8);}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact3 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/static/images/broadridge.jpg');
}

.container-contact3 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(255,255,255,0.8);
  
}

.wrap-contact3 {
  width: 750px;
  background: #1b73d8c0;
  /* background: -webkit-linear-gradient(45deg, #1b73d8c0, #f6f6f8);
  background: -o-linear-gradient(45deg, #1b73d8c0, #f6f6f8);
  background: -moz-linear-gradient(45deg, #1b73d8c0, #f6f6f8);
  background: linear-gradient(45deg, #1b73d8c0, #f6f6f8); */
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 20px 65px;
  opacity: 0.85;
}


/*------------------------------------------------------------------
[  ]*/

.contact3-form {
  width: 100%;
}

.contact3-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 45px;
  color: rgb(22, 21, 21);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 70px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input3 {
  width: 100%;
  position: relative;
  /*border-bottom: 2px solid rgba(255,255,255,0.24);*/
  /*border: 1px solid black;*/
  margin: 20px 0px;
  display: inline-flex;
  padding: 10px;
}
.filePath{
border-bottom: 2px solid rgba(255,255,255,0.24);
}

.input3 {
  display: block;
  width: 60%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  padding: 3px 5px;
}

.input2 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  padding: 3px 5px;
}
.focus-input3 {
  position: relative;
  display: inline;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
}
.error {
display: inline;
font-size: 15px;
color:#ff4343;
font-weight: bolder;
}

.success{
  display: inline;
  font-size: 16px;
  color:rgb(100, 205, 1);
  font-weight: bolder;
}

.focus-input3::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

#script {
color:black;
border-bottom: 2px solid rgba(255,255,255,0.24);
padding-bottom: 10px;
}

select{
  position: relative;
  left: 10px;
}
/*---------------------------------------------*/
input.input3 {
  height: 45px;
  padding-left: 10px;
}


textarea.input3 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}


.input3:focus + .focus-input3::before {
  width: 100%;
}

.has-val.input3 + .focus-input3::before {
  width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.container-contact3-form-btn {
  padding-top: 23px;
}

.contact3-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: inline;
  justify-content: center;
  align-items: center;
  padding: 15px;
  min-width: 100%;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  /*background: #1e7fedc0;*/
  /* background: -webkit-linear-gradient(-135deg, white, #1b73d8c0);
  background: -o-linear-gradient(-135deg, white, #1b73d8c0);
  background: -moz-linear-gradient(-135deg, white, #1b73d8c0);
  background: linear-gradient(-135deg, white, #1b73d8c0); */

  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.contact3-form-btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* .contact3-form-btn:hover {
  color: #fff;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
} */
.contact3-form-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.contact3-form-btn:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.contact3-form-btn:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

#btn:disabled {
  opacity:1;
  background: darkgray;
  color: rgb(135, 135, 135);
  border: none;
  transform: none;
  transition: none;
  cursor: not-allowed ;
}


#btn:disabled::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  /* transition: all 0.3s; */
  /* border: 1px solid rgba(255,255,255,0.5); */
}

#btn:disabled::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgba(255,255,255,0);
  transition: none;
}
#btn:disabled:hover::after{
  opacity: 0;
  transform:none;
  
}

#btn:disabled:hover::before{
  opacity: 0;
  transform:none;
  
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact3 {
    padding: 72px 15px 65px 15px;
  }
}



/*-----------------------------------------------------------------
[Animation] */
#download-button {
	background-color: white;
	color: #2980b9;
	border: 2px solid #2980b9;
	font-family: inherit;
	outline: none;
	min-width: 100px;
	padding: 10px;
	font-size: inherit;
	border-radius: 2px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

#start-download {
	text-align: center;
	display: none;
}

#download-progress-container {
	border: 1px solid #cccccc;
	padding: 4px;
	display: none;
	height: 20px;
}

#download-progress {
	background-color: #2980b9;
	display: inline-block;
	height: 100%;
}

#save-file {
	color: #f3f7fa;
	text-decoration: none;
	display: none;
	text-align: center;
}

#save-file:hover {
	text-decoration: underline;
}

#btn {
  position: relative;
}
#btn .btn_text {
  position: relative;
  z-index: 11;
}
.progress_bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10%;
  height: 100%;
  transform: scale(0,1);
  transform-origin: left;
  background-color: white;
}
#btn.anim .progress_bar {
  transform: scale(1,1);
  animation: progress 3s infinite linear;
}
@keyframes progress {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(415px);
  }
  100% {
    transform: translateX(0%);
  }
}

#frameworks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#frameworks li {
  width: 100%;
  margin-bottom: 10px;
}
#frameworks li a {
  margin: 0px;
  color: #fff !important;
}

.con .wrap-input3 {
  padding: 0px;
}

.modal-backdrop.show {
  z-index: -1;
}

span.limit {
  display: block;
  font-size: 10px;
}


#hidden_div {
  display: none;
} 

td{
  padding: 10px;
}

th
{
text-align: center !important;
padding: 10px;
}

table{
  margin: 20px;
  margin-left: 60px;
  border-color: white;
}

/* .calc{
  text-align: center;
} */

td input{
  text-align: center;
}