{%extends "main.html" %}
{%block lrtemplate%}
<form action="/conversionDone2" method="post" enctype = "multipart/form-data"> 
 <!---- <label for="filePath">Enter File Path: </label><br> -->
 <div class="wrap-input3">
  <label class="filePath">Upload Script: </label><br>
  <input class="input3" type="file" id="filePath" name="filePath" accept=".c">
 <br>
</div>
<!-- <div class="wrap-input3 validate-input">
  <input class="input3" type="text" id="newfilePath" name="newfilePath" placeholder="New File Path" required><br>
  <label for="newfilePath">Enter new File Path: </label><br>
 </div> -->
 <div class="wrap-input3 validate-input">
  <label class="filePath">Upload Excel: </label><br>
    <input class="input3" type="file" id="excelPath" name="excelPath" accept=".csv" placeholder="Excel Sheet Path"><br>
    <!---- <label for="newfilePath">Enter new File Path: </label><br> -->
   </div>
 <!-- <div class="container-contact3-form-btn"> -->
<div class="wrap-input3 validate-input">
  <label for="scripts" id="script">Type of script: </label>
  <select name="scripts" class="scripts" id="scripts">
    <option value="API">API</option>
    <option value="WEB">WEB</option>
  </select>
</div>
<div class="container-contact3-form-btn">
  <!--<input class="contact3-form-btn" type="submit" value="Download"> -->
  <button class="contact3-form-btn" id="btn" onclick="start(this)" disabled><span class="btn_text">Download</span> <span class="progress_bar"></span></button>  
  </div>
  
  </form> 
  <div class="" id="message"> 

    {%block success2%}
        
    {%endblock%}
    
    {%block error2%}
            
    {%endblock%}
</div>
</form>

<script type="text/javascript" language="javascript">
$('#filePath, #excelPath').bind('change', function() {
    if(allFilled()) $('#btn').removeAttr('disabled');
});

function allFilled() {
    var filled = true;
    $('body input').each(function() {
        if($(this).val() == '') filled = false;
    });
    return filled;
}
</script>

<script>
  function start(obj) {
    document.querySelector(".btn_text").innerHTML = "Processing, please wait..";
    obj.className = 'contact3-form-btn anim';
  }
</script>

{%endblock%}